@media screen and (max-width: 767px) {

.logo-margin{
  margin-left: -1rem !important;
}
}
@media screen and (max-width: 1300px) {

  .logo-margin{
    margin-left: -1rem !important;
  }
  }
  @media screen and (max-width: 1600px) {

    .logo-margin{
      margin-left: -7rem !important;
    }
    }

@media screen and (max-width: 575px) {
  .logo-margin{
    margin-left:0px !important
  }
}

.logo-margin{
  margin-left:-16rem;
}

.padding-link{
  padding: 0rem !important;
}

.textColorBlue{
  color: #1B1464 !important;
}

.ssticky-height{
  top:50px;
}
