<div class="row p-3 mt-5">
  <div class="col-md-9 col-sm-9 col-lg-9">
    <div class="card-deck">
      <mdb-card>
        <div class="view overlay waves-light" mdbWavesEffect>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <p>Application Status</p>
          </mdb-card-title>

          <mdb-card-text>
            <div class="row d-flex">
              <div>
                <span class="dot">
                  <span class="dotnum dotblue">10</span></span>
                  <div class="row ml-4">
                    All
                  </div>
              </div>
              <div>
                <span class="dot">
                  <span class="dotnum dotgreen">6</span></span>
                  <div class="row ml-2">
                    Available
                  </div>
              </div>
              <div>
                <span class="dot">
                  <span class="dotnum dotred">4</span></span>
                  <div class="row ml-2">
                    Critical
                  </div>
              </div>

            </div>

          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>

      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <p>Servers</p>
          </mdb-card-title>

          <mdb-card-text>
            <div class="row d-flex">
              <div>
                <span class="dot">
                  <span class="dotnum dotblue">4</span></span>
                  <div class="row ml-4">
                    All
                  </div>
              </div>
              <div>
                <span class="dot">
                  <span class="dotnum dotgreen">2</span></span>
                  <div class="row ml-2">
                    Active
                  </div>
              </div>
              <div>
                <span class="dot">
                  <span class="dotnum dotgold">2</span></span>
                  <div class="row ml-2">
                    Inactive
                  </div>
              </div>

            </div>
          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>


      <mdb-card>
        <div class="view rgba-white-slight waves-light" mdbWavesEffect>
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <mdb-card-body>
          <mdb-card-title>
            <p>Health Check Counts</p>
          </mdb-card-title>

          <mdb-card-text class="text-center ">
            <h3 class="blueText">60</h3>
              <p class="blueText">Counts</p>
          </mdb-card-text>

        </mdb-card-body>
      </mdb-card>
    </div>

  </div>

    <div class="col md-12 col-sm-12 col-lg-12 mt-4">
      <app-home-table></app-home-table>


  </div>


</div>
